@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    cursor: url('assets/elements/cursor.png'), auto;
}
.cursor-custom {
    cursor: url('assets/elements/cursor.png'), auto;
}
/* *,
 ///TODO check why curosr is not working
} */
@keyframes glossy {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-glossy {
    background-size: 200% 200%;
    animation: glossy 3s ease infinite;
}

@layer base {
    ::-webkit-scrollbar {
        @apply w-3;
    }

    ::-webkit-scrollbar-track {
        @apply bg-background-light;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-background-dark rounded-lg shadow-inner shadow-cyan-600;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-stone-950;
    }
}
